<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
  
  .footer {
    background: linear-gradient( #607d8b, #343a40 );
    padding: 10px 0;
    text-align: center;
  }
  .footer a {
    margin: 0 10px;
    color: aliceblue;
  }
  .footerp {
    margin-top: 0;
    margin-bottom: 1rem;
    color: aliceblue;
}

</style>
</head>
<body>

<footer class="footer fixed-bottom">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <a href="tel:+917017528755" class="text-white mr-3"><i class="fas fa-phone fa-lg"></i> +917017528755</a> <br>
        <a href="mailto:aaanas372@gmail.com" class="text-white"><i class="fas fa-envelope fa-lg"></i> aaanas372@gmail.com</a>
      </div>
      <div class="col-md-4">
        <p class="footerp">&copy; 2024 NeuraEd | All Rights Reserved</p>
      </div>
      <div class="col-md-4">
        <a href="https://www.linkedin.com/in/mohd-anas-ansari-a20753218/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/iammohdanas"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="/aboutus"><i class="fa fa-info-circle"> About us</i></a>

      </div>
      
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
